.current-weather {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;

  .temp {
    margin-top: 0;
  }

  img {
    width: 100px;
  }

  p {
    font-size: 1.2rem;
    margin: 0;
  }
}

.condition,
.condition-icon {
  text-align: center;
}

.condition-text {
  margin-top: 0;
}

.left-card {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  max-width: 400px;
}

.right-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.detail-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  gap: 100px;
}

.detail-item:last-child {
  margin-bottom: 0;
}

.detail-label {
  color: #cccccc;
}

.detail-value {
  text-align: center;
}

@media (max-width: 768px) {
  .current-weather {
    gap: 50px;
    flex-direction: column; /* stack for mobile */
  }

  .right-card {
    width: 65vw;
  }
}
